.navbar{
    background-color: #752109ff;
}

.container{
    display: flex;
    justify-content: space-between;
}

.cart-box{
    display: flex;
    justify-content: center;
    color: #ffff;
    font-weight: 600;
    margin-right: 100px;
    border-radius: 50px;
    background-color: rgb(59, 18, 6);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
    text-align:center;
    border: none;
}

.cart-box p{
    margin: auto;
    margin-left: 50px;
    margin-bottom: 11px;
}

.cart-button{
    color: #ffff;
    background-color: #752109ff;
    font-weight: 600;
    margin-top: 4px;
    margin-right: 50px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
    border: none;
}
.brand{
    margin-left: 50px;
    font-size: 40px;
    font-weight: 600;
    color: #ffff;
}